* {
  font-family: 'Roboto Mono', monospace;
}


.App {
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.complete {
  text-decoration: line-through;
}


.write-area-component{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
}

.write-area{
  text-align: left;
  outline: none;
  resize: none;
  justify-content: center;
  box-sizing: border-box;
  width: 90%;
  height: 90%; 
  min-height: 90%;
}


.icon {
  max-width: 40px; 
  height: auto;
}


.todoList{
  display: flex;
  flex-direction: column;
}

.todo-container{
  flex-direction: row;
  justify-content: space-evenly;
}
